.header {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-left: 20px;
  background-color: #e5e5e5;
}

.header-title {
  padding: 0 5px;
}

.progress {
  margin: 50px 20px 10px 20px;
  font-size: 16px;
  display: flex;
}

.notes {
  margin: 0 20px;
}

#progressContainer {
  margin-left: 5px;
  width: 500px;
  height: 18px;
  background-color: #D0ABFF;
}

#encodeProgress {
  height: 100%;
  width: 0%;
  background-color: #3c1053;
}

#userInput {
  margin-left: 20px;
}

.textbox {
  height: 25;
  font-size: 14px;
}

#saveCapture {
  display: none;
}

.buttonContainer {
  display: flex;
}

#status {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 14px;
}

.button {
  /* display: none; */
  text-align: center;
  padding: 10px;
  margin: 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #D0ABFF 0%, #ad5389 51%, #3c1053 100%);
}

.submit {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #D0ABFF 0%, #ad5389 51%, #3c1053 100%);
}

.button:hover, .submit:hover {
  background-position: right center;
}

#review {
  color: blue;
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}
