.header {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-left: 20px;
  background-color: #e5e5e5;
}

.header-title {
  padding: 0 5px;
}

h1 {
  font-size: 36px;
}

img {
  height: 64px;
  margin: 0 20px 0 0;
}

h2 {
  font-size: 26px;
}

label {
  font-size: 16px;
}

.inner {
  margin-left: 40px;
}

.options-list {
  padding: 0;
  list-style: none;
}

.options-list li {
  padding: 10px;
}

.time {
  font-size: 16px;
}

.limit {
  display: inline-block;
  margin: 0;
  font-size: 12px;
}

.radioChoice {
  margin-left: 15px;
}

.button {
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #D0ABFF 0%, #ad5389 51%, #3c1053 100%);
  width: 110px;
  border-radius: 5px;
}

.button:hover {
  background-position: right center;
}

#save {
  font-size: 16px;
  margin-left: 50px;
}

#status {
  color: #3c1053;
  margin-top: 8px;
  margin-left: 50px;
  font-size: 14px;
}

#qualityLi {
  display: none;
}

#maxTime {
  width: 30px;
  text-align: center;
}
